.ninja_log
addon/universal/Wowless/builds.lua
addon/universal/Wowless/cvars.lua
addon/universal/Wowless/globalapis.lua
addon/universal/Wowless/namespaceapis.lua
addon/universal/Wowless/uiobjectapis.lua
addon/wow/WowlessData/
addon/wow_beta/WowlessData/
addon/wow_classic/WowlessData/
addon/wow_classic_beta/WowlessData/
addon/wow_classic_era/WowlessData/
addon/wow_classic_era_ptr/WowlessData/
addon/wow_classic_ptr/WowlessData/
addon/wowt/WowlessData/
build/
build.ninja
cache
extracts
frame0.png
frame0.yaml
frame1.png
frame1.yaml
luacov.*
out/
test.out
wowless/*.o
wowless/*.so
