[submodule "vendor/dbdefs"]
	path = vendor/dbdefs
	shallow = true
	url = https://github.com/wowdev/wowdbdefs
[submodule "vendor/tactkeys"]
	path = vendor/tactkeys
	shallow = true
	url = https://github.com/wowdev/TACTKeys
