[submodule "vcpkg"]
	path = vcpkg
	shallow = true
	url = https://github.com/microsoft/vcpkg
[submodule "vendor/dbdefs"]
	path = vendor/dbdefs
	shallow = true
	url = https://github.com/wowdev/wowdbdefs
[submodule "vendor/elune"]
	path = vendor/elune
	shallow = true
	url = https://github.com/meorawr/elune
[submodule "vendor/tactless"]
	path = vendor/tactless
	shallow = true
	url = https://github.com/wowless/tactless
[submodule "vendor/luaexpat"]
	path = vendor/luaexpat
	url = https://github.com/lunarmodules/luaexpat.git
