.ninja_log
addon/universal/Wowless/builds.lua
addon/universal/Wowless/cvars.lua
addon/universal/Wowless/globalapis.lua
addon/universal/Wowless/namespaceapis.lua
addon/universal/Wowless/uiobjectapis.lua
addon/wow/WowlessData/globals.lua
addon/wow/WowlessData/product.lua
addon/wow_beta/WowlessData/globals.lua
addon/wow_beta/WowlessData/product.lua
addon/wow_classic/WowlessData/globals.lua
addon/wow_classic/WowlessData/product.lua
addon/wow_classic_beta/WowlessData/globals.lua
addon/wow_classic_beta/WowlessData/product.lua
addon/wow_classic_era/WowlessData/globals.lua
addon/wow_classic_era/WowlessData/product.lua
addon/wow_classic_era_ptr/WowlessData/globals.lua
addon/wow_classic_era_ptr/WowlessData/product.lua
addon/wow_classic_ptr/WowlessData/globals.lua
addon/wow_classic_ptr/WowlessData/product.lua
addon/wowt/WowlessData/globals.lua
addon/wowt/WowlessData/product.lua
build/
build.ninja
cache
extracts
frame0.png
frame0.yaml
frame1.png
frame1.yaml
luacov.*
out/
test.out
wowless/*.o
wowless/*.so
