name: test
on:
  pull_request:
  push:
    branches:
    - main
env:
  VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg-cache
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
    - run: mkdir vcpkg-cache
    - uses: actions/cache@v4
      with:
        path: vcpkg-cache
        key: vcpkg-devcontainer-${{ github.run_id }}
        restore-keys: vcpkg-devcontainer
    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: devcontainers/ci@v0.3
      with:
        env: |
          GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
          VCPKG_DEFAULT_BINARY_CACHE=/workspaces/wowless/vcpkg-cache
        imageName: ghcr.io/wowless/wowless-devcontainer
        refFilterForPush: refs/heads/main
        runCmd: pre-commit run -a -v
    - uses: actions/upload-artifact@v5
      if: success() || failure()
      with:
        name: test-results
        path: |
          out/
          test.out
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
        - name: Linux / Make
          generator: Unix Makefiles
          os: ubuntu-latest
        - name: Linux / Ninja
          generator: Ninja
          os: ubuntu-latest
        - name: MacOS / Make
          generator: Unix Makefiles
          os: macos-latest
        - name: MacOS / Ninja
          generator: Ninja
          os: macos-latest
        - name: Windows / MSBuild
          generator: Visual Studio 17 2022
          os: windows-latest
        - name: Windows / Ninja
          generator: Ninja
          os: windows-latest
    runs-on: ${{ matrix.config.os }}
    steps:
    - if:  ${{ matrix.config.os == 'ubuntu-latest' }}
      run: sudo apt-get install autoconf-archive libltdl-dev
    - uses: actions/checkout@v6
      with:
        submodules: true
    - run: mkdir ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
    - uses: actions/cache@v4
      with:
        path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
        key: vcpkg-${{ runner.os }}-${{ github.run_id }}
        restore-keys: vcpkg-${{ runner.os }}
    - uses: lukka/get-cmake@v4.2.1
    - run: cmake -B build -G "${{ matrix.config.generator }}"
    - run: cmake --build build --verbose
