name: test
on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: install deps
      run: sudo apt-get install -y libyaml-dev libzip-dev
    - name: setup
      run: bin/setup.sh
    - uses: pre-commit/action@v2.0.3
